.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Adjust the min-height to move content higher up */
  padding: 2rem;
  margin-top: 1rem; /* Adjust to position the content higher */
}

.about-img {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.about-img img {
  border-radius: 50%;
  width: 250px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  object-fit: cover;
  border: 5px solid #274c77; /* Optional: Add a border color to match your button color */
}

.about-description {
  flex: 0.6;
  padding: 1rem;
  border: 2px solid #274c77; /* Add a border around the about me section */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
  background-color: #8b8c89; /* Add a background color to the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a subtle 3D effect */
}

.about-description h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.about-description h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.about-description p {
  font-size: 1rem;
  color: #ffffff;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 992px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .about-img img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
  }

  .about-description {
    width: 100%;
  }
}
