.card-custom {
  background-color: #8b8c89;
  border-color: #274c77; /* New border color */
  border-width: 3px; /* Increase border width */
  border-style: solid; /* Ensure border is solid */
}

.card-title {
  color: #ffffff;
}

.card-text {
  color: #ffffff;
}

/* Custom button color */
.btn-custom {
  background-color: #6096ba;
  border-color: #6096ba;
  color: #ffffff;
  margin-right: 10px;
}

.btn-custom.active {
  background-color: #6096ba; /* Background color when active */
  color: #8b8c89; /* Text color for active button */
  border: none; /* Ensure no border appears */
}

.btn-custom:hover {
  background-color: #a3cef1;
  border-color: #6096ba;
  color: #ffffff;
}

.btn-custom:last-child {
  margin-right: 0;
}
